<%- include('header_file/top.ejs')%>
<link rel="stylesheet" href="/css/table.css" />
    
<div class="bg">
<div style="padding-top: 80px; width: 100%;">
        <center><h1><div class="yellow">Total Cusumption</div></h1></center>        
</div>

<table class="container">
    <thead>
        <tr>
            <th><h1>Name</h1></th>
            <th><h1>Amount (L)</h1></th>
            <th><h1>Cost</h1></th>
        </tr>
    </thead>       
    <tbody>        
         <%for (var result in products){%>
            <tr>
                <td> <center>&nbsp; <%=products[result].username%> &nbsp; </center></td> 
                <td> <center>&nbsp; <%=products[result].amount%> &nbsp; </center></td>
                <td> <center>&nbsp; <%=products[result].amount*0.02%> &nbsp; </center></td>
            </tr>
        <%}%>
    </tbody>
</table>
</div>